* {
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}


/*      Header   section  */


/*
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#b1b5c980, rgba(4, 9, 30, 0.5)), url("images/willow\ school.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
}

nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

li {
    list-style: none;
    padding-left: 10px;
    display: inline-block;
}

li a {
    color: rgb(217, 156, 43);
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}

button {
    background-color: rgb(29, 226, 226);
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 15px;
}

button a {
    color: rgb(226, 226, 238);
    font-weight: bold;
    font-size: 15px;
}

nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav-links ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}

.nav-links ul li a,
.nav-links ul button a {
    text-decoration: rgb(236, 229, 229);
    color: inherit;
}
*/


/*    FOOTER STYLE  */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: rgb(222, 240, 240);
    li {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
    }
    p {
        width: 300px;
        font-size: 16px;
        font-weight: 500;
    }
    h3 {
        display: flex;
        margin: 10px;
        text-align: center;
    }
}

.sch {
    display: flex;
    flex-direction: column;
    width: 40rem;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}

.sch2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.sch-courses {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 16px 36px;
    width: 300px;
    height: 100px;
}

.portal-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 12px 24px;
    width: 180px;
    height: 100px;
    ul li a {
        text-decoration: none;
        color: #0f0e0e;
        font-size: 18px;
        font-weight: 500;
    }
}

.support-level {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px 20px;
    width: 180px;
    height: 100px
}

.pay {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px 20px;
    width: 200px;
    height: 100px;
}