* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 18px 24px;
    .logo {
        display: flex;
        max-width: fit-content;
        max-height: fit-content;
        h1 {
            font-size: 32px;
            font-weight: 600;
            text-align: center;
        }
        img {
            padding-top: 10px;
            width: 46px;
            height: 46px;
            padding-top: 14px;
        }
    }
    .list ul li {
        display: inline-flex;
        margin-left: 32px;
        color: #0d0d0e;
        font-size: 18px;
        font-weight: 500;
    }
    .nav {
        margin-bottom: 24px;
    }
    a {
        text-decoration: none;
        margin-right: 32px;
        color: #0d0d0e;
        font-size: 18px;
        font-weight: 500;
    }
    .lg1 {
        color: #0C2A5E;
    }
    .lg2 {
        color: #C3974E;
    }
}


/*    FOOTER STYLE  

.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: rgb(222, 240, 240);
    li {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
    }
    p {
        width: 300px;
        font-size: 16px;
        font-weight: 500;
    }
    h3 {
        display: flex;
        margin: 10px;
        text-align: center;
    }
}

.sch {
    display: flex;
    flex-direction: column;
    width: 37rem;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}

.sch2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.sch-courses {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 16px 36px;
    width: 285px;
    height: 100px;
}

.portal-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 12px 24px;
    width: 165px;
    height: 100px;
    ul li a {
        text-decoration: none;
        color: #0f0e0e;
        font-size: 18px;
        font-weight: 500;
    }
}

.support-level {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px 20px;
    width: 165px;
    height: 100px
}

.pay {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px 20px;
    width: 185px;
    height: 100px;
}*/