* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 18px 24px;
    .logo {
        display: flex;
        max-width: fit-content;
        max-height: fit-content;
        h1 {
            font-size: 32px;
            font-weight: 600;
            text-align: center;
        }
        img {
            padding-top: 10px;
            width: 46px;
            height: 46px;
            padding-top: 14px;
        }
    }
    .list ul li {
        display: inline-flex;
        margin-left: 32px;
        color: #0d0d0e;
        font-size: 18px;
        font-weight: 500;
    }
    .nav {
        margin-bottom: 24px;
    }
    a {
        text-decoration: none;
        margin-right: 32px;
        color: #0d0d0e;
        font-size: 18px;
        font-weight: 500;
    }
    .lg1 {
        color: #0C2A5E;
    }
    .lg2 {
        color: #C3974E;
    }
}

.premesis {
    display: flex;
}