/* Calendar */

.nav-bar {
    text-decoration: none;
}

nav ul li {
    display: inline-flex;
    margin-left: 10rem;
    color: #4CAF50;
    font-size: 24px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#calendar div {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#calendar div.header {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
}


/* Events */

#eventsList .event {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#eventsList .event h3 {
    margin: 0;
    color: #4CAF50;
}

#eventsList .event p {
    margin: 5px 0;
    color: #555;
}